.search-bar{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-container{
    width: 300px;
    height: 100%;
    background: #F0F0F0;
    border-radius: 35.5985px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-search{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #F0F0F0;
    border-radius: 35.5985px;
    margin-left: 8px;
    color: #000;
    font-weight: bold;
}

.notes{
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name{
    font-family: 'Nunito-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.icon{
    width: 30px;
    height: 30px;
    background-color: #F0F0F0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.user-icon{
    width: 30px;
    height: 30px;
}

.bell{
    width: 12px;
    height: 15px;
}

.stats{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat-item{
    width: 24%;
    height: 100%;
    background: #E8E9EB;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.lobe{
    width: 40%;
    height: 100%;
}

.lobe-icon{
    width: 40px;
    height: 70%;
}

.ico{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dash-icons{
    width: 60px;
    height: 50px;
    margin-right: 10px;
}

.stat-details{
    position: absolute;
    margin-left: 12%;
    margin-top: 30px;
    line-height: 20px;
}

.prod{
    font-family: 'Nunito-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #242966;
}