
.inner-container2:hover{
    background-color: #232759;
}

.accordion{
    width: 88%;
    background-color: #232759;
}

.sub-modules{
    font-family: 'Nunito-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    color: #fff;
    background-color: #232759;
    margin-left: 30px;
    margin-bottom: 5px;
}

.dash{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.dash-arrow{
    width: 5px;
    height: 9px;
    margin-left: 20%;
}