.main-user{
    width: 100%;
    height: 90%;
    background: #FAFAFA;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-user{
    width: 96%;
    height: 94%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-header{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-name{
    font-family: 'Nunito-regular';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #232759;
}

.create{
    width: 130px;
    height: 35px;
    background: #58A0DF;
    border-radius: 3px;
    border: none;
    outline: none;     
    color: #fff;
    font-family: 'Nunito-regular';
    font-size: 14px;
}

.filter{
    width: 100%;
    height: 35px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-place{
    border: none;
    background: #F0F0F0;
}

.numbers{
    height: 35px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table-container{
    width: 100%;
    height: 35px;
    background: #EFEFEF;
    border-radius: 6px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table-row{
    width: 100%;
    height: 35px;
    background: #EFEFEF;
    border-radius: 6px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.columns{
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Nunito-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #232759;
}

.columns2{
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #232759;
}

.footer{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 125px;
    margin-right: 25px;
    font-family: 'Nunito-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    color: #000000;
    margin-top: 10px;
}

.prev{
    width: 60px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    width: 25px;
    height: 30px;
    background-color: #58A0DF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.info{
    font-family: 'Nunito-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    color: #615D5D;
    margin-left: 30px;
}